body {
    /*background-color: #FF0;*/
    font-family: system-ui; 
    /* Lucida, monospace; */
    margin : 40px auto;
    max-width : 650px;
    line-height : 1.6;
    font-size : 16px;
    /* color : #444; */
    padding : 0 10px;
    background-color: #282a36;
    color: #f8f8f2;
}

h1, h2, h3 {
    line-height:1.2
}

.row {
    display: flex;
}

/* https://coolors.co/0ca9c5-ffcb77-1d4e89-fe6d73-a491d3 */
a {
    /* color: #aaa; */
    /* color: #0CA9C5; */
    /* color: #E072A4; */
    color: #FE6D73;
    /*color: blue;*/
    text-decoration: none;
}

a:hover {
    /* color: #FF0; */
    color: #FFCB77;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1pt;
    background-color: #aaa;
    text-align: center;
}

footer:hover {
    background-color: #ff0;
}

.responsive {
    max-width: 100%;
    height: auto;
}

code {
    /* color: #15317E; */
    /* color: #E072A4; */
    /* color: #0CA9C5; */
    color: #8be9fd; 
    font-size: 12pt;
}
